.navbar{
    position: sticky;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
}


.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 44%;
    padding: 8px 15px;
    border-radius: 20px 0;
    margin-top: 10px;
    

    background: #B2B5F7;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    
}
.navbar-content a{
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    margin:0 10px;
    font-size: 19px;
}

.navbar-content :hover{
    color: #bebbbb;
    font-size: 19px;
}

.logo-navbar img{
    width: 70px;
    height: 70px;
    margin-right: 10px;
    
}

/*
#colores #C5B2F7 #B2B5F7 #DCB2F7

*/
