<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/styleBody.css">
    <link rel="stylesheet" href="../styles/styleNavbar.css">
    <link rel="stylesheet" href="../styles/styleHabilidades.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

</head>

    <header>
     <div class="navbar">
        <div class="navbar-content">
            <!-- logo -->
            <div class="logo-navbar">
                <img src="../assets/icon_cat.png" alt="">
            </div>

            <div class="informacion">
                <a href="#Tecnologias">Tecnologias</a>
                <a href="#Sobre-mi">Sobre mi</a>
                <a href="#Busco">Lo que Busco</a>
            </div>

            <div class="me-navbar">
                <a href="#gitHub">GitHub</a>
            </div>
        </div>
     </div>
        
</header>
<body>
    <section class="presentacion">
        <div class="present-card">
            <h1>HI, I´M NEKO</h1>
            <p>FRONTEND DEVELOPER</p>
        </div>
        
        <div class="avatar-card">
            <img src="../assets/avatarNuevo.png" alt="Neko">
        </div>
    </section>

    <section class="habilidades">

    <div class="habilidades-content">
        <div class="habilidades-card-sobre-mi">
            <h2 id="Sobre-mi">Sobre mi</h2>
            <br>
            <p>Me considero una persona creativa, autodidacta y con muchas ganas de aprender. <br> Me gusta mucho el diseño y la programación, por lo que decidí estudiar desarrollo web para poder combinar ambas cosas.</p>
            
        </div>
        
        <div class="habilidades-card-tecnologias">
            <div class="lo-que-busco">
                <h2 id="Busco">Lo que Busco</h2>
                <p>Busco una oportunidad para poder seguir aprendiendo y creciendo como desarrollador web, y poder aportar mis conocimientos y habilidades a un equipo de trabajo.</p>
            </div>
            <div class="habilidades-card-container">
            <div class="tecnologias">
             <h2 id="Tecnologias">Tecnologias</h2>
             <p>HTML, CSS, JavaScript, React, GitHub</p>
            </div>
            <div class="habilidades-card-animation tecnologias">
            <!-- From Uiverse.io by kennyotsu --> 
            <div class="card">
            <div class="loader">
                <p>loading</p>
                <div class="words">
                <span class="word">HTML</span>
                <span class="word">CSS</span>
                <span class="word">Sass</span>
                <span class="word">BLENDER</span>
                <span class="word">VUE</span>
                </div>
            </div>
            </div>
            </div>
            </div>
           

        </div>
        
    </div>

    </section>

    <section class="render">
        
    </section>
</body>

<footer>
    bay mundo
</footer>
</html>