*{
    margin:0;
    padding: 0;
    font-family: "Zalando Sans", sans-serif;
    font-optical-sizing: auto;
}

body{
    background-color: rgb(19, 18, 18);
}


.presentacion{
    width: 100%;
    height: 100vh;
    display: flex;

    background:  #B2B5F7;
}

.present-card{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 2.5rem;
}

.present-card h1{
    margin-top: 13rem;
    font-size: 5rem;
    
}

.avatar-card{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.avatar-card img{
    width :700px;

    background-image: 
    linear-gradient(#1e90ff 1px, transparent 1px),
    linear-gradient(90deg, #1e90ff 1px, transparent 1px);

  /* Espaciado de la cuadrícula */
  background-size: 40px 40px; 
}